* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.max-width {
  max-width: 1440px; }

.scroll-down-coral {
  text-decoration: none;
  color: #FF7676;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  margin: auto; }

.scroll-down-white {
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  margin: auto; }

.arrow-down-white {
  width: 0;
  height: 0;
  margin: auto;
  margin-top: 35px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white; }

.arrow-down-coral {
  width: 0;
  height: 0;
  margin: auto;
  margin-top: 35px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FF7676; }

.header {
  width: 100%;
  height: 100px;
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF7676;
  flex-direction: column; }

nav {
  height: 40px;
  background: #FF7676;
  max-width: 1440px;
  width: 100%;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.fixed {
  z-index: 2;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 67, 67, 0.7); }

.menu {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  color: white; }

.main {
  width: 100%;
  height: calc(100vh - 160px);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.intro {
  color: #525659;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.8em;
  margin: auto; }

.about {
  background: #FF7676;
  position: relative;
  width: 100%;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.down {
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -78%); }

.me, .maple {
  display: flex; }

.left {
  width: 40%;
  padding: 20px 30px; }

.profile {
  float: right;
  width: 300px; }

.right {
  width: 60%;
  padding: 20px;
  display: flex;
  align-items: center; }

.about-me {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 1em;
  font-weight: 0.5px;
  line-height: 1.6em;
  width: 85%; }

.name {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3em; }

.projects {
  background: white;
  position: relative;
  width: 100%;
  padding: 80px 50px; }

h4 {
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px; }

.row {
  padding: 10px 0;
  margin-bottom: 30px; }

.grid {
  margin: 30px 0 10px;
  display: flex; }

.project {
  width: 300px;
  height: 300px;
  text-decoration: none;
  margin-right: 25px;
  position: relative; }

.project-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity .5s; }

.project-img:hover {
  opacity: 1; }

.project-desc {
  width: 100%;
  height: 100%;
  padding: 50px 25px;
  background: #333333;
  text-align: center; }

.title {
  color: #FF7676;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none; }

.detail {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.85em;
  letter-spacing: 0.3px;
  line-height: 1.6em;
  margin-top: 35px; }

.contact {
  background: #525659;
  position: relative;
  width: 100%;
  padding: 50px 0 10px 100px; }

.inline {
  width: 50%;
  margin: 30px;
  display: flex;
  align-items: center;
  text-decoration: none; }

.contact-icon {
  width: 50px;
  height: 50px; }

h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-left: 20px;
  text-decoration: none; }

footer {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin-top: 50px; }

.to-the-top {
  display: none;
  bottom: 30px;
  right: 35px;
  position: fixed;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 0.6em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .to-the-top svg {
    display: block;
    margin: auto;
    margin-bottom: 15px; }

/*# sourceMappingURL=styles.css.map */
