* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.max-width {
  max-width: 1440px;
  margin: auto; }

.scroll-down-coral {
  text-decoration: none;
  color: #FF7676;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  margin: auto; }

.scroll-down-white {
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  margin: auto; }

.arrow-down-white {
  width: 0;
  height: 0;
  margin: auto;
  margin-top: 33px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white; }

.arrow-down-coral {
  width: 0;
  height: 0;
  margin: auto;
  margin-top: 33px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FF7676; }

.header {
  width: 100%;
  height: 100px;
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF7676;
  flex-direction: column; }

nav {
  height: 40px;
  background: #FF7676;
  width: 100%;
  width: 100%;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 550px) {
    nav {
      padding: 0 10px; } }

.menu {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: white;
  transition: all .5s; }
  @media only screen and (max-width: 440px) {
    .menu {
      font-size: .8em; } }

.fixed {
  z-index: 2;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ff7676;
  transition: all .5s; }

.reverse {
  z-index: 2;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  transition: all .5s; }
  .reverse .menu {
    color: #FF7676;
    transition: all .5s; }

.main {
  width: 100%;
  height: calc(100vh - 160px);
  max-width: 100%;
  position: relative; }

.text-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%); }

.intro {
  color: #525659;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: none;
  text-align: left;
  opacity: 0;
  transition: opacity 2s ease-in-out; }
  @media only screen and (max-width: 440px) {
    .intro {
      font-size: 1.4em;
      line-height: 1.6em; } }

.sub-intro {
  color: #525659;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 300;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  text-align: left; }
  @media only screen and (min-width: 1300px) {
    .sub-intro br {
      display: none; } }
  @media only screen and (max-width: 810px) {
    .sub-intro {
      font-size: 2.1rem; } }
  @media only screen and (max-width: 550px) {
    .sub-intro {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 440px) {
    .sub-intro {
      font-size: 1.6rem; } }

.load {
  opacity: 1; }

.about {
  background: #FF7676;
  position: relative;
  width: 100%;
  padding: 70px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 810px) {
    .about {
      padding: 70px; } }
  @media only screen and (max-width: 720px) {
    .about {
      padding: 70px 45px; } }
  @media only screen and (max-width: 550px) {
    .about {
      padding: 70px 25px; } }

.down {
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -78%); }

.me, .maple {
  max-width: 130  0px;
  margin: 40px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 550px) {
    .me, .maple {
      display: block; } }

.profile {
  max-width: 300px;
  min-width: 200px;
  width: 35%;
  height: auto;
  margin-right: 30px; }
  @media only screen and (max-width: 550px) {
    .profile {
      max-width: 3000px;
      width: 100%; } }

.about-me {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 1em;
  font-weight: 0.5px;
  line-height: 1.6em;
  display: inline-block;
  width: 65%; }
  @media only screen and (max-width: 810px) {
    .about-me {
      font-size: .85em; } }
  @media only screen and (max-width: 720px) {
    .about-me {
      font-size: .8em;
      width: 100%;
      margin: auto; } }
  @media only screen and (max-width: 550px) {
    .about-me {
      min-width: 200px;
      text-align: justify;
      padding-bottom: 20px;
      font-size: .9em; } }

.name {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3em; }

.projects {
  background: white;
  position: relative;
  width: 100%;
  padding: 80px 100px; }
  @media only screen and (max-width: 1400px) {
    .projects {
      padding: 70px 20px 70px 70px; } }
  @media only screen and (max-width: 720px) {
    .projects {
      padding: 70px 45px; } }
  @media only screen and (max-width: 550px) {
    .projects {
      padding: 0;
      padding-bottom: 70px; } }

h4 {
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media only screen and (max-width: 550px) {
    h4 {
      padding-top: 60px;
      text-align: center; } }

.row {
  padding: 10px 0;
  margin-bottom: 30px; }

.grid {
  margin: 30px 0 10px;
  display: flex;
  flex-flow: wrap; }
  @media only screen and (max-width: 720px) {
    .grid {
      display: block; } }

.project {
  width: 290px;
  height: 290px;
  margin: 0 5px 10px 5px;
  text-decoration: none;
  position: relative; }
  @media only screen and (max-width: 1400px) {
    .project {
      width: 270px;
      height: 270px; } }
  @media only screen and (max-width: 810px) {
    .project {
      width: 230px;
      height: 230px; } }
  @media only screen and (max-width: 720px) {
    .project {
      width: 100%;
      height: 100px;
      margin-bottom: 10px;
      display: block; } }

.project-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity .5s; }
  @media only screen and (max-width: 720px) {
    .project-img {
      opacity: .1; } }

.project-img:hover {
  opacity: 1; }
  @media only screen and (max-width: 720px) {
    .project-img:hover {
      opacity: .1; } }

.project-desc {
  width: 100%;
  height: 100%;
  padding: 45px 25px;
  background: #333333;
  text-align: center; }
  @media only screen and (max-width: 810px) {
    .project-desc {
      padding: 25px; } }
  @media only screen and (max-width: 720px) {
    .project-desc {
      padding: 20px; } }
  @media only screen and (max-width: 550px) {
    .project-desc {
      padding: 15px; } }

.title {
  color: #FF7676;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 35px; }
  @media only screen and (max-width: 810px) {
    .title {
      font-size: 1.2em; } }
  @media only screen and (max-width: 810px) {
    .title {
      margin-bottom: 15px; } }
  @media only screen and (max-width: 720px) {
    .title {
      margin-bottom: 5px; } }

.dc {
  display: block; }
  @media only screen and (max-width: 720px) {
    .dc {
      display: inline-block; } }

.detail {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.85em;
  letter-spacing: 0.3px;
  line-height: 1.6em; }
  @media only screen and (max-width: 720px) {
    .detail {
      font-size: .75em; } }

.contact {
  background: #525659;
  position: relative;
  width: 100%;
  padding: 50px 100px 10px 100px; }
  @media only screen and (max-width: 720px) {
    .contact {
      padding: 70px 45px; } }
  @media only screen and (max-width: 550px) {
    .contact {
      padding: 70px 25px; } }

.inline {
  margin: 30px;
  text-decoration: none;
  display: block; }

.contact-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle; }
  @media only screen and (max-width: 550px) {
    .contact-icon {
      width: 30px;
      height: 30px; } }

h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-left: 20px;
  text-decoration: none;
  display: inline-block; }
  @media only screen and (max-width: 720px) {
    h3 {
      font-size: 1em; } }
  @media only screen and (max-width: 550px) {
    h3 {
      font-size: .9em; } }

footer {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin-top: 50px; }

.to-the-top {
  display: none;
  bottom: 30px;
  right: 35px;
  position: fixed;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 0.6em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .to-the-top svg {
    display: block;
    margin: auto;
    margin-bottom: 15px; }

/*# sourceMappingURL=styles.css.map */
