
body {
  background-color: #8FDDED;
}
.container-fluid {
  margin-left: 30px;
}
.col-md-10 {
  padding: 0;
  margin-bottom: 40px;
}
.header {
  text-align: center;
  background-color: #bce8f1;
  max-height: 440px;
  border-top: 30px solid #FC942A;
  border-bottom: 30px solid #FC942A;
}
.header img {
  margin: 20px 0 0 0;
  width: 250px;
  border: 20px double #EBA156;
  border-radius: 200px;
}
h1 {
  color: #FC942A;
  font-family: 'Lobster', cursive;
  font-weight: bolder;
  font-size: 65px;
  margin-bottom: 50px;
}

.col-md-2 {
  padding: 0px;
  background-color: #bce8f1;
  border-right: 10px double #F2AF6A;
  border-top: 30px solid #FC942A;
  border-bottom: 30px solid #FC942A;
  max-height: 440px;
  margin-bottom: 40px;
}
.sidebar {
  /*mouse hover background change*/
  margin-top: 100px;
  padding-bottom: 106px;
}
ul {
  list-style-type: none;
  margin: 15px;
}
ul li {
  font-size: 20px;
  margin: 40px auto;
}
ul li a {
  color: #FC942A;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

.row {
  margin-left: 30px;
}
.panel-info {
  width: 350px;
  margin: 20px;
  float: left;
  border: medium solid #FC942A;
}
.panel-info > .panel-heading {
  border-color: #FC942A;
  color: #FC942A;
  text-align: center;
}
p {
  padding: 15px;
  text-align: justify;
}
.amy {
  color: red;
  font-size: 18px;
}
.epicodus {
  font-weight: bold;
}
.maple {
  color: black;
}
ol {
  padding: 15px;
  padding-left: 30px;
}
ol li {
  font-size: 15px;
}
ol li a {
  padding: 5px;
  color: gray;
}
p img {
  width: 100px;
  padding: 20px;
}
