//fonts
$roboto-con: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;

//color
$coral: #FF7676;
$gray: rgb(82, 86, 89);

//break points
$break-xsmall: "only screen and (max-width: 440px)";
$break-small: "only screen and (max-width: 550px)";
$break-medium: "only screen and (max-width: 720px)";
$break-large: "only screen and (max-width: 810px)";
$break-xlarge: "only screen and (max-width: 1400px)";
