@import "variables";
@import "mixins";

@include noralize;

@include max-width;

.scroll-down-coral {
  @include anchor;
  @include font($coral, $roboto-con, center, null, null);
  margin: auto;
}

.scroll-down-white {
  @include anchor;
  @include font(white, $roboto-con, center, null, null);
  margin: auto;
}

.arrow-down-white {
  @include arrow(white);
}

.arrow-down-coral {
  @include arrow($coral);
}

.header {
  @include size(100%, 100px, null, 40px 0 40px 0);
  @include center;
  background: $coral;
  flex-direction: column;
}

nav {
  height: 40px;
  background: $coral;
  width: 100%;
  @include size(100%, null, null, 0 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$break-small} {
    padding: 0 10px;
  }
}

.menu {
  @include anchor;
  @include uppercase(2px);
  // font-family: $roboto-con;
  font-family: $futura;
  color: white;
  transition: all .5s;
  @media #{$break-xsmall} {
    font-size: .8em;
  }
  &:hover {

  }
}


//addClass

.fixed {
  z-index: 2;
  margin-top: 0;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background: rgba($coral, 1);
  transition: all .5s;
}

.reverse {
  z-index: 2;
  margin-top: 0;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background: rgba(white, 1);
  .menu {
    color: $coral;
    transition: all .5s;
  }
  transition: all .5s;
}

//addClass End

.main {
  @include size(100%, calc(100vh - 160px), null, null);
  max-width: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  position: relative
}

.text-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.intro {
  @include font($gray, $futura, center, 3rem, 500);
  // @include font-space(null, 1.8em);
  margin-bottom: 30px;
  @include uppercase(none);
  text-align: left;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  @media #{$break-xsmall} {
    font-size: 1.4em;
    line-height: 1.6em;
  }
}

.sub-intro {
  @include font($gray, $roboto, center, 2.8rem, 300);
  // margin: 0 10%;
  // transition: opacity 1200ms linear 50ms; -webkit-transition: opacity 1200ms linear 50ms;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  @media only screen and (min-width: 1300px) {
    br {
      display: none;
    }
  }
  @media #{$break-large} {
    font-size: 2.1rem;
  }
  @media #{$break-small} {
    font-size: 1.8rem;
  }
  @media #{$break-xsmall} {
    font-size: 1.6rem;
  }
    text-align: left;
}

.load {
  opacity: 1;
}

.about {
  @include container($coral, 70px 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media #{$break-large} {
    padding: 70px;
  }
  @media #{$break-medium} {
    padding: 70px 45px;
  }
  @media #{$break-small} {
    padding: 70px 25px;
  }
}


.down {
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -78%);
}

.me, .maple {
  max-width: 130  0px;
  margin: 40px 0 50px;
  @include center;
  @media #{$break-small} {
    display: block;
  }
}

.profile {
  max-width: 300px;
  min-width: 200px;
  width: 35%;
  height: auto;
  margin-right: 30px;
  @media #{$break-small} {
    max-width: 3000px;
    width: 100%;
  }
}

.about-me {
  @include font(white, $roboto, left, 1em, .5px);
  @include font-space(null, 1.6em);
  display: inline-block;
  width: 65%;
  @media #{$break-large} {
    font-size: .85em;
  }
  @media #{$break-medium} {
    font-size: .8em;
    width: 100%;
    margin: auto;
  }
  @media #{$break-small} {
    min-width: 200px;
    text-align: justify;
    padding-bottom: 20px;
    font-size: .9em;

  }
}

.name {
  @include uppercase(1px);
  font-size: 1.3em;
}


.projects {
  @include container(white, 80px 100px);
  @media #{$break-xlarge} {
    padding: 70px 20px 70px 70px;
  }
  @media #{$break-medium} {
    padding: 70px 45px;
  }
  @media #{$break-small} {
    padding: 0;
    padding-bottom: 70px;
  }
}

h4 {
  @include font(#555555, $roboto, null, 1.5em, null);
  @include uppercase(2px);
  @media #{$break-small} {
    padding-top: 60px;
    text-align: center;
  }
}

.row {
  padding: 10px 0;
  margin-bottom: 30px;
}

.grid {
  margin: 30px 0 10px;
  display: flex;
  flex-flow: wrap;
  @media #{$break-medium} {
    display: block;
  }
}

.project {
  @include size(290px, 290px, 0 5px 10px 5px, null);
  @include anchor;
  position: relative;
  @media #{$break-xlarge} {
    @include size(270px, 270px, null, null);
  }
  @media #{$break-large} {
    @include size(230px, 230px, null, null);
  }
  @media #{$break-medium} {
    @include size(100%, 100px, null, null);
    margin-bottom: 10px;
    display: block;
  }
}

.project-img {
  position: absolute;
  top: 0;
  @include size(100%, 100%, null, null);
  object-fit: cover;
  opacity: 0;
  transition: opacity .5s;
  @media #{$break-medium} {
    opacity: .1;
  }
}

.project-img:hover {
  opacity: 1;
  @media #{$break-medium} {
    opacity: .1;
  }
}

.project-desc {
  @include size(100%, 100%, null, 45px 25px);
  background: #333333;
  text-align: center;
  @media #{$break-large} {
    padding: 25px;
  }
  @media #{$break-medium} {
    padding: 20px;
  }
  @media #{$break-small} {
    padding: 15px;
  }
}

.title {
  @include font($coral, $roboto-con, null, 1.4em, 400);
  @include font-space(null, 1.6em);
  @include uppercase(2px);
  @include anchor;
  margin-bottom: 35px;
  @media #{$break-large} {
    font-size: 1.2em;
  }
  @media #{$break-large} {
    margin-bottom: 15px;
  }
  @media #{$break-medium} {
    margin-bottom: 5px;
  }
}

.dc {
  display: block;
  @media #{$break-medium} {
    display: inline-block;
  }
}

.detail {
  @include font(white, $roboto, null, .85em, null);
  @include font-space(.3px, 1.6em);
  @media #{$break-medium} {
    font-size: .75em;
  }
}

.contact {
  @include container($gray, 50px 100px 10px 100px);
  @media #{$break-medium} {
    padding: 70px 45px;
  }
  @media #{$break-small} {
    padding: 70px 25px;
  }
}

.inline {
  margin: 30px;
  @include anchor;
  display: block;
}

.contact-icon {
  display: inline-block;
  @include size(50px, 50px, null, null);
  vertical-align: middle;
  @media #{$break-small} {
    @include size(30px, 30px, null, null);
  }
}

h3 {
  @include font(white, $roboto, null, 1.1em, 200);
  @include font-space(.5px, null);
  margin-left: 20px;
  @include anchor;
  display: inline-block;
  @media #{$break-medium} {
    font-size: 1em;
  }
  @media #{$break-small} {
    font-size: .9em;
  }
}

footer {
  @include font(white, $roboto, center, .8em, 100);
  @include font-space(.5px, null);
  margin-top: 50px;
}

.to-the-top {
  display: none;
  bottom: 30px;
  right: 35px;
  position: fixed;
  svg {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
  @include font(black, $roboto-con, center, .6em, 400);
  @include anchor;
  @include uppercase(1px);
  }
