h1, h2, h3, h4, h5, h6, p {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  color: white; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
    color: initial;
    outline: none; }

.fixed {
  position: fixed; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: linear-gradient(156deg, #FF7676 15%, #F5A623 35%, #F6A02D 40%, #FE7D6A 60%, #F5A623 80%, #FE7D6A 100%);
  min-height: 100vh;
  font-family: "marydale", sans-serif; }

.scroll-lock {
  overflow: hidden; }

.menu {
  top: -20px;
  left: 20px;
  z-index: 99999;
  width: 100%; }
  @media screen and (max-width: 550px) {
    .menu {
      top: 20px;
      top: 0;
      left: 0; } }
  .menu .menu-container {
    position: absolute;
    display: flex;
    transform-origin: bottom left;
    transform: rotate(90deg);
    transition: background .2s ease-in-out 0; }
    @media screen and (max-width: 550px) {
      .menu .menu-container {
        transform: rotate(0deg);
        width: 100%;
        padding: 10px;
        justify-content: space-between; } }
  .menu .menu-items {
    margin-left: 20px; }
    @media screen and (min-width: 550px) {
      .menu .menu-items {
        transform: rotate(180deg); } }
    @media screen and (max-width: 550px) {
      .menu .menu-items {
        transform: rotate(0deg) translateX(-1000px);
        opacity: 0;
        transition: .2s ease-in-out 0; } }
  .menu .mobile-nav-slide {
    transform: translateX(0);
    opacity: 1; }
  .menu .menu-item {
    color: white;
    font-size: 20px;
    font-style: italic;
    position: relative; }
    .menu .menu-item .before, .menu .menu-item .after {
      display: none;
      position: absolute;
      top: 0;
      left: 0.35em;
      height: 100%;
      width: 100%;
      opacity: .8; }
    .menu .menu-item .before {
      color: #f0f;
      z-index: -2; }
    .menu .menu-item .after {
      color: #0ff;
      z-index: -1; }
    .menu .menu-item .real-content {
      padding: 0 0.35em;
      position: relative; }
      .menu .menu-item .real-content:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        opacity: 0.15;
        background-color: #9A40E5;
        transform: scale3d(0, 1, 1);
        transform-origin: 0% 50%;
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
    .menu .menu-item:hover .real-content:before, .menu .menu-item:focus .real-content:before {
      transform: scale3d(1, 1, 1); }
    .menu .menu-item:hover .before, .menu .menu-item:hover .after, .menu .menu-item:focus .before, .menu .menu-item:focus .after {
      display: block;
      z-index: 99; }
    .menu .menu-item:hover .before, .menu .menu-item:focus .before {
      animation: glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .menu .menu-item:hover .after, .menu .menu-item:focus .after {
      animation: reverse-glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .menu .menu-active .real-content:before {
    transform: scale3d(1, 1, 1); }
  .menu .menu-active .before, .menu .menu-active .after {
    display: block;
    z-index: 99; }
  .menu .menu-active .before {
    animation: glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .menu .menu-active .after {
    animation: reverse-glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.mobile-nav {
  width: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 550px) {
    .mobile-nav {
      display: inline-block; } }

.hamburger {
  width: 100%;
  height: 2.5px;
  background-color: white;
  margin: 6px 0;
  transition: .4s ease-in-out 0; }

@media screen and (max-width: 550px) {
  .open .menu-container {
    background-image: linear-gradient(-180deg, #FF7676 0%, rgba(255, 118, 118, 0.95) 40%, rgba(255, 118, 118, 0) 100%); } }

.open .hamburger:first-of-type {
  transform: translate(-4px, 6px) rotate(45deg); }
.open .hamburger:last-of-type {
  transform: translate(-4px, -11px) rotate(-45deg); }
.open .hamburger:nth-of-type(2) {
  opacity: 0; }

.section {
  min-height: 100vh; }

.landing {
  z-index: 9999;
  min-height: 100vh;
  width: 100%; }

.logo {
  position: fixed;
  transform: scale(1) translate3d(50%, 50%, 0);
  bottom: 50%;
  right: 50%;
  transform-origin-x: right;
  transform-origin-y: bottom;
  z-index: 999;
  transition: 1s ease; }
  .logo .logo-element {
    display: inline-block; }

.logo-container {
  white-space: nowrap;
  transform-origin: center;
  transition: .8s ease 0; }
  @media screen and (max-width: 800px) {
    .logo-container {
      transform: scale(0.8); } }
  @media screen and (max-width: 660px) {
    .logo-container {
      transform: scale(0.6); } }
  @media screen and (max-width: 500px) {
    .logo-container {
      transform: scale(0.45); } }

.js-logo-after-scroll {
  transform: scale(0.6) translate3d(0%, -310%, 0) rotate(-90deg);
  right: -20px;
  bottom: 0; }
  .js-logo-after-scroll:hover {
    cursor: pointer; }
  @media screen and (max-width: 980px) {
    .js-logo-after-scroll {
      opacity: .25; } }
  @media screen and (max-width: 800px) {
    .js-logo-after-scroll {
      right: -19.2px; } }
  @media screen and (max-width: 770px) {
    .js-logo-after-scroll {
      z-index: -1; } }
  @media screen and (max-width: 660px) {
    .js-logo-after-scroll {
      right: -14.4px;
      opacity: 0; } }
  @media screen and (max-width: 500px) {
    .js-logo-after-scroll {
      right: -10.8px; } }

.is-chrome .js-logo-after-scroll {
  transform: scale(0.6) rotate(-90deg) translate(25%, 220%);
  bottom: 0;
  right: 0px; }

.js-logo-after-scroll .logo-container {
  transform-origin: left bottom; }
  @media screen and (max-width: 800px) {
    .js-logo-after-scroll .logo-container {
      transform: scale(0.8); } }
  @media screen and (max-width: 660px) {
    .js-logo-after-scroll .logo-container {
      transform: scale(0.6); } }
  @media screen and (max-width: 500px) {
    .js-logo-after-scroll .logo-container {
      transform: scale(0.45); } }

.a {
  animation-name: slideUp;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0; }

.m-whiskers {
  position: relative;
  margin: 0 60px;
  animation-name: fadeIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1900ms;
  animation-delay: 1900ms;
  opacity: 0; }

.whiskers {
  position: absolute;
  bottom: 50px;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2350ms;
  animation-delay: 2350ms; }

.left-whiskers {
  left: -25%; }

.right-whiskers {
  right: -25%; }

.js-logo-animated {
  animation-name: bounce;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms; }

.v {
  animation-name: slideDown;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1450ms;
  animation-delay: 1450ms;
  opacity: 0; }

.scroll-down {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0); }
  .scroll-down:hover .scroll-down_image {
    height: 2px; }

.scroll-down_text {
  font-size: 18px;
  margin-bottom: 10px; }
  .scroll-down_text .before, .scroll-down_text .after {
    bottom: 0; }

.scroll-down_image {
  margin: auto;
  width: 2px;
  height: 30px;
  background-color: #fff;
  transition: height 1s ease; }

.about {
  padding: 40px 0;
  margin-top: 120px; }
  @media screen and (max-width: 980) {
    .about {
      padding: 40px 60px; } }

.about-title {
  font-size: 60px;
  text-align: center;
  font-style: italic; }
  .about-title .before, .about-title .after {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .about-title .before {
    color: #f0f;
    z-index: -2; }
  .about-title .after {
    color: #0ff;
    z-index: -1; }
  @media screen and (max-width: 375px) {
    .about-title {
      font-size: 48px; } }

.about-row {
  margin: auto;
  margin-top: 48px;
  float: none; }

.about-col {
  margin: auto;
  text-align: center; }

.about-amy {
  padding-right: 30px; }
  @media screen and (max-width: 770px) {
    .about-amy {
      padding: 0;
      padding-right: 0px; } }

.about-maple {
  padding-left: 30px; }
  @media screen and (max-width: 770px) {
    .about-maple {
      padding: 0;
      padding-left: 0px; } }

.about-img {
  margin: auto;
  border-radius: 100%;
  border: 6px solid white;
  width: 280px;
  height: 280px;
  overflow: hidden; }
  .about-img:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    z-index: 1;
    opacity: .25;
    background-image: linear-gradient(-180deg, #2BFFAC 0%, #E132EC 54%, #79F4CF 100%); }
  .about-img img {
    width: 100%;
    object-fit: cover; }

.about-p {
  margin: 48px auto;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "futura-pt";
  max-width: 480px; }
  @media screen and (max-width: 980px) {
    .about-p {
      margin: 24px auto 60px; } }

.name {
  position: relative;
  font-family: "marydale";
  font-size: 22px;
  font-weight: bold;
  padding: 0 .35em; }
  .name:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 0.15;
    background-color: #9A40E5; }

.projects {
  padding: 40px 80px;
  position: relative; }
  @media screen and (max-width: 980px) {
    .projects {
      padding: 40px 0;
      padding-left: 40px; } }
  @media screen and (max-width: 550px) {
    .projects {
      padding-left: 5px;
      padding-right: 5px; } }

.projects-row {
  position: relative;
  float: right;
  margin-right: 120px;
  width: calc(100% - 120px);
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 1160px) {
    .projects-row {
      margin-right: 60px; } }
  @media screen and (max-width: 1060px) {
    .projects-row {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-width: 550px) {
    .projects-row {
      width: calc(100% - 60px);
      margin-left: 40px; } }

.projects-title {
  font-size: 60px;
  bottom: 50px;
  position: absolute;
  left: 0;
  font-style: italic;
  transform: rotate(-90deg);
  height: 120px; }
  .projects-title .before, .projects-title .after {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .projects-title .before {
    color: #f0f;
    z-index: -2; }
  .projects-title .after {
    color: #0ff;
    z-index: -1; }
  @media screen and (max-width: 1160px) {
    .projects-title {
      height: 320px;
      bottom: -50px; } }
  @media screen and (max-width: 1060px) {
    .projects-title {
      text-align: right;
      height: 100px;
      position: static;
      transform: rotate(0deg); } }
  @media screen and (max-width: 375px) {
    .projects-title {
      font-size: 48px; } }

@media screen and (max-width: 1060px) {
  .projects-title.in-viewport--vert-glitch.js-in-viewport, .projects-title.in-viewport--vert-glitch {
    transform: rotate(0deg); } }

.projects-collage {
  width: calc(100vh - 80px);
  float: right; }
  @media screen and (max-width: 900px) {
    .projects-collage {
      width: 100%; } }

.projects-project {
  padding: 0; }
  .projects-project:hover {
    z-index: 99; }

.border {
  position: relative;
  margin: 1.5px;
  -webkit-box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  border: solid 3px white; }
  .border:before, .border:after {
    display: none;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .border:before {
    -webkit-box-shadow: inset 0px 0px 0px 3px #f0f;
    -moz-box-shadow: inset 0px 0px 0px 3px #f0f;
    box-shadow: inset 0px 0px 0px 3px #f0f;
    z-index: -2; }
  .border:after {
    -webkit-box-shadow: inset 0px 0px 0px 3px #0ff;
    -moz-box-shadow: inset 0px 0px 0px 3px #0ff;
    box-shadow: inset 0px 0px 0px 3px #0ff;
    z-index: -1; }
  .border:hover:before, .border:hover:after, .border:focus:before, .border:focus:after {
    display: block; }
  .border:hover:before, .border:focus:before {
    animation: frame-glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.2s; }
  .border:hover:after, .border:focus:after {
    animation: frame-reverse-glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.2s; }
  .border:hover .projects-project-text:after, .border:focus .projects-project-text:after {
    opacity: .2;
    transition: opacity .4s ease-in-out; }
  .border:hover .projects-project-detail, .border:focus .projects-project-detail {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .4s ease-in-out .5s; }
    @media screen and (max-width: 900px) {
      .border:hover .projects-project-detail, .border:focus .projects-project-detail {
        opacity: 0;
        cursor: default; } }
  .border:hover .background, .border:focus .background {
    opacity: .25;
    transition: opacity .4s ease-in-out; }

.remove-borders {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0; }
  .remove-borders:before, .remove-borders:after {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.projects-project-text {
  text-align: left;
  position: absolute;
  padding: 20px;
  left: 0px;
  top: 0;
  width: 100%;
  transition: 0;
  height: 100%;
  overflow: hidden;
  bottom: 0; }
  .projects-project-text:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0; }
    @media screen and (max-width: 900px) {
      .projects-project-text:after {
        display: none; } }
  @media screen and (max-width: 500px) {
    .projects-project-text {
      padding: 10px; } }
  .projects-project-text:hover {
    cursor: pointer; }

.projectsText-transition {
  transition: all 5s ease; }

@media screen and (max-width: 500px) {
  .projects-project-text .projects-project-keywords {
    display: none; } }
.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  display: none; }

.upcart .background {
  background-position: 60% 100%; }

.projects-project-title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  display: inline-block; }
  .projects-project-title:before {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 0;
    height: 60%;
    opacity: 0.15;
    background-color: #9A40E5;
    transition: .4s ease; }
  .projects-project-title:hover:before {
    width: 100%; }

.projects-project-detail {
  font-family: "futura-pt";
  font-size: 18px;
  margin-top: 50px;
  width: 100%; }

.responsive-design {
  max-width: 960px;
  width: 70%;
  margin: 40px auto; }

.projects-project-keywords {
  font-family: "futura-pt";
  margin-top: 12px;
  font-size: 16px; }

@media screen and (max-width: 800px) {
  .projects-project-detail .projects-project-keywords {
    font-size: 14px; } }
.view-project {
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  transform: translateY(10px); }
  .view-project .before, .view-project .after {
    display: none;
    position: absolute;
    top: 0;
    left: 0.35em;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .view-project .before {
    color: #f0f;
    z-index: -2; }
  .view-project .after {
    color: #0ff;
    z-index: -1; }
  .view-project .real-content {
    color: white;
    padding: 0 0.35em;
    position: relative; }
    .view-project .real-content:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      opacity: 0.15;
      background-color: #9A40E5;
      transform: scale3d(0, 1, 1);
      transform-origin: 0% 50%;
      transition: transform 0.5s;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .view-project:hover {
    cursor: pointer; }
    .view-project:hover .real-content:before {
      transform: scale3d(1, 1, 1); }
    .view-project:hover .before, .view-project:hover .after {
      display: block;
      z-index: 99; }
    .view-project:hover .before {
      animation: glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .view-project:hover .after {
      animation: reverse-glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  @media screen and (max-width: 900px) {
    .view-project {
      display: block; } }
  @media screen and (max-width: 500px) {
    .view-project {
      right: 10px;
      font-size: 14px; } }

.site-credit {
  display: none;
  font-size: 14px;
  margin-left: 48px; }

.project-popups .project-info {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 100vw;
  width: calc(100vw - 120px);
  overflow: scroll;
  z-index: 99;
  padding: 60px;
  padding-right: 180px;
  opacity: 0;
  border-left: solid 3px white;
  box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  transition: 1s ease; }
  .project-popups .project-info .projects-project-title {
    font-size: 48px; }
    .project-popups .project-info .projects-project-title:before {
      width: 100%; }
  .project-popups .project-info.popup-open {
    left: 120px;
    opacity: 1; }
  @media screen and (max-width: 1200px) {
    .project-popups .project-info .responsive-design {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .project-popups .project-info {
      padding-right: 60px; } }
  @media screen and (max-width: 500px) {
    .project-popups .project-info {
      padding: 60px 30px;
      padding-right: 30px;
      width: calc(100vw - 60px); }
      .project-popups .project-info.popup-open {
        left: 60px;
        opacity: 1; } }

.projects-row, .about-container, .contact-container {
  transition: 1s ease; }

.close-popup {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 25px; }
  .close-popup:hover {
    cursor: pointer; }
  @media screen and (max-width: 400px) {
    .close-popup {
      top: 5%; } }

.close-popup_line {
  width: 100%;
  height: 2.5px;
  margin: 6px 0;
  background: #FFF; }
  .close-popup_line:first-of-type {
    transform: translate(-4px, 0px) rotate(45deg); }
  .close-popup_line:last-of-type {
    transform: translate(-4px, -9px) rotate(-45deg); }

.goodlife {
  float: right; }

.tall {
  padding-bottom: calc(200% + 9px); }

.wide {
  padding-bottom: 50%; }

.square {
  padding-bottom: 100%; }

@media screen and (max-width: 767px) {
  .r2v .tall {
    padding-bottom: 100%; } }

.contact {
  padding-right: 80px;
  position: relative;
  height: 110vh; }
  @media screen and (min-width: 600px) and (max-width: 770px) {
    .contact {
      margin-top: 50%; } }

.contact-container {
  float: right;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: calc(100% - 60px); }
  @media screen and (max-width: 1100px) {
    .contact-container {
      right: 160px; } }
  @media screen and (max-width: 1000px) {
    .contact-container {
      right: 14%; } }
  @media screen and (max-width: 770px) {
    .contact-container {
      right: 10px; } }
  @media screen and (max-width: 600px) {
    .contact-container {
      width: 100%; } }

.contact-title {
  font-size: 40px;
  text-align: right; }
  .contact-title .before, .contact-title .after {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .contact-title .before {
    color: #f0f;
    z-index: -2; }
  .contact-title .after {
    color: #0ff;
    z-index: -1; }

.contact-group {
  margin-top: 120px;
  text-align: right;
  color: white; }
  .contact-group a {
    color: white; }

.contact-link {
  font-size: 30px;
  line-height: 42px;
  position: relative;
  transition: padding 0 ease 0; }
  .contact-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 0.15;
    background-color: #9A40E5;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .contact-link .before, .contact-link .after {
    display: none;
    position: absolute;
    top: 0;
    left: -2.1rem;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .contact-link .before {
    color: #f0f;
    z-index: -2; }
  .contact-link .after {
    color: #0ff;
    z-index: -1; }
  @media screen and (max-width: 420px) {
    .contact-link {
      font-size: 26px; } }

.contact-detail {
  font-family: "futura-pt";
  font-size: 20px;
  max-width: 0;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  transition: all .4s ease-in-out 0; }
  @media screen and (max-width: 420px) {
    .contact-detail {
      font-size: 16px; } }
  @media screen and (max-width: 420px) {
    .contact-detail {
      display: none; } }

.contact-item {
  display: block; }

.contact-item:hover .contact-link .before, .contact-item:hover .contact-link .after, .contact-item:focus .contact-link .before, .contact-item:focus .contact-link .after {
  left: -2.1rem; }
.contact-item:hover .contact-link .before, .contact-item:hover .contact-link .after, .contact-item:focus .contact-link .before, .contact-item:focus .contact-link .after {
  display: block;
  z-index: 99; }
.contact-item:hover .contact-link .before, .contact-item:focus .contact-link .before {
  animation: glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
.contact-item:hover .contact-link .after, .contact-item:focus .contact-link .after {
  animation: reverse-glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
.contact-item:hover .real-content, .contact-item:focus .real-content {
  padding: 0 .35em; }
.contact-item:hover .contact-detail, .contact-item:focus .contact-detail {
  margin-left: 20px;
  max-width: 360px; }
.contact-item:hover .contact-link:before, .contact-item:focus .contact-link:before {
  transform: scale3d(1, 1, 1); }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30%); }
  90% {
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30%); }
  90% {
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes bounceIn {
  0% {
    transform: scaleX(0.9) translate3d(0, 0, 0); }
  50% {
    transform: scaleX(1.05); }
  80% {
    transform: scaleX(0.9); }
  100% {
    transform: scale(1) translate3d(0, 0, 0); } }
@keyframes bounce {
  0% {
    transform: scaleX(0.9) translate3d(0, 0, 0); }
  60% {
    transform: scaleX(1); }
  80% {
    transform: scaleX(0.7); }
  100% {
    transform: scale(1) translate3d(0, 0, 0); } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInOut {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: .1; } }
@keyframes glitch {
  0% {
    transform: translate(0); }
  40% {
    transform: translate(-4px, -4px); }
  60% {
    transform: translate(-4px, 4px); }
  80% {
    transform: translate(4px, 4px); }
  100% {
    transform: translate(4px, -4px); } }
@keyframes reverse-glitch {
  0% {
    transform: translate(0); }
  40% {
    transform: translate(4px, 4px); }
  60% {
    transform: translate(4px, -4px); }
  80% {
    transform: translate(-4px, -4px); }
  100% {
    transform: translate(-4px, 4px); } }
@keyframes frame-glitch {
  0% {
    transform: translate(0); }
  40% {
    transform: translate(-6px, -6px); }
  60% {
    transform: translate(-6px, 6px); }
  80% {
    transform: translate(6px, 6px); }
  100% {
    transform: translate(6px, -6px); } }
@keyframes frame-reverse-glitch {
  0% {
    transform: translate(0); }
  60% {
    transform: translate(6px, 6px); }
  60% {
    transform: translate(6px, -6px); }
  80% {
    transform: translate(-6px, -6px); }
  100% {
    transform: translate(-6px, 6px); } }
.in-viewport-trans {
  transition: all .4s ease-in-out .4s; }

.in-viewport-delay-one {
  transition: all .4s ease-in-out .7s; }

.in-viewport-delay-two {
  transition: all .4s ease-in-out 1.2s; }

.in-viewport--email {
  transition: all .4s ease-in-out .2s; }

.in-viewport--github {
  transition: all .4s ease-in-out .3s; }

.in-viewport--linkedin {
  transition: all .4s ease-in-out .4s; }

.in-viewport--instagram {
  transition: all .4s ease-in-out .5s; }

.in-viewport--resume {
  transition: all .4s ease-in-out .6s; }

.in-viewport--slide-up {
  transform: translateY(50px); }
  .in-viewport--slide-up.js-in-viewport {
    transform: translateY(0); }

.in-viewport--slide-down {
  transform: translateY(-10px); }
  .in-viewport--slide-down.js-in-viewport {
    transform: translateY(0); }

.in-viewport--slide-left {
  transform: translateX(5vw); }
  .in-viewport--slide-left.js-in-viewport {
    transform: translateX(0); }

.in-viewport--slide-right {
  transform: translateX(-5vw); }
  .in-viewport--slide-right.js-in-viewport {
    transform: translateX(0); }

.in-viewport--fade-in {
  opacity: 0; }
  .in-viewport--fade-in.js-in-viewport {
    opacity: 1; }

.in-viewport--glitch {
  transform: translateX(0); }
  .in-viewport--glitch .before, .in-viewport--glitch .after {
    display: block; }
  .in-viewport--glitch.js-in-viewport {
    transform: translateX(0); }
    .in-viewport--glitch.js-in-viewport .before {
      display: block;
      animation: glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.2s; }
    .in-viewport--glitch.js-in-viewport .after {
      display: block;
      animation: reverse-glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.2s; }

.in-viewport--vert-glitch {
  transform: translateX(0) rotate(-90deg); }
  .in-viewport--vert-glitch .before, .in-viewport--vert-glitch .after {
    display: block; }
  .in-viewport--vert-glitch.js-in-viewport {
    transform: translateX(0) rotate(-90deg); }
    .in-viewport--vert-glitch.js-in-viewport .before {
      display: block;
      animation: glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.2s; }
    .in-viewport--vert-glitch.js-in-viewport .after {
      display: block;
      animation: reverse-glitch 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.2s; }

/*# sourceMappingURL=styles.css.map */
